<!DOCTYPE html>
<html lang="es" class="dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link href="/public/vendor/sweetalert2/sweetalert2.dark.min.css" rel="stylesheet" />

        <link href="/public/vendor/bootstrap-icons/bootstrap-icons.min.css" rel="stylesheet" />

        <link href="/public/vendor/flowbite/flowbite.min.css" rel="stylesheet" />
        <link href="{{ getAssets('dashboard', 'css', '/dashboard.css') }}" rel="stylesheet" />

        <link href="{{ getAssets('dashboard', 'img', '/favicon.png') }}" rel="shortcut icon" />
        {% block appHead %}{% endblock %}

        <title>{{ config.build.name }}</title>
        {% block appHeader %}{% endblock %}
    </head>

    <body class="bg-gray-50 dark:bg-gray-800">
        {% block appBody %}{% endblock %} {% block appFooter %}{% endblock %}

        <!-- SweetAlert2 -->
        <script src="/public/vendor/sweetalert2/sweetalert2.all.min.js"></script>

        <script src="/public/vendor/flowbite/flowbite.min.js"></script>
        <script src="{{ getAssets('dashboard', 'js', '/dashboard.js') }}?{{ date()|date('U') }}"></script>

        {% if config['build']['debug'] == '0' %}
        <script type="importmap">
            {
                "imports": {
                    "vue": "{{ assets_url('public/vendor/vue/vue.esm-browser.prod.js') }}",
                    "vue-demi": "{{ assets_url('public/vendor/vue/vue-demi-v3.mjs') }}",
                    "pinia": "{{ assets_url('public/vendor/vue/pinia@2.1.7.esm-browser.prod.js') }}"
                }
            }
        </script>
        {% else %} {# modo debug #}
        <script type="importmap">
            {
                "imports": {
                    "vue": "{{ assets_url('public/vendor/vue/vue.esm-browser.js') }}",
                    "vue-demi": "{{ assets_url('public/vendor/vue/vue-demi-v3.mjs') }}",
                    "pinia": "{{ assets_url('public/vendor/vue/pinia@2.1.7.esm-browser.js') }}",
                    "@vue/devtools-api": "https://cdn.jsdelivr.net/npm/@vue/devtools-api/lib/esm/index.js"
                }
            }
        </script>
        {% endif %} {% block appScript %}{% endblock %}
    </body>
</html>
